@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');
h2{
    font-family: 'Sonsie One', cursive;
    font-size: 6rem;
    color: transparent;
    background-image: url(../../../assets/gif1.gif);
    background-position: center;
    background-size: contain;
    background-clip: text;
    line-height: 115px;
}